<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="SAMM Target Platform">
<locations>
<location path="${project_loc:/pl.edu.agh.samm.target.definition}/extra_plugins" type="Directory"/>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="3.5.1.M20090917-0800"/>
<unit id="org.eclipse.rcp.sdk.id" version="3.5.1.M20090917-0800"/>
<unit id="org.eclipse.zest.sdk.feature.group" version="1.1.2.v20100111-1352-6658CNDT4R8WTQUMhLVdgPbPObOX"/>
<repository location="http://download.eclipse.org/releases/galileo"/>
</location>
<location path="${workspace_loc}/samm_tp" type="Directory"/>
</locations>
<includeBundles>
<plugin id="com.ibm.icu.source"/>
<plugin id="javax.servlet"/>
<plugin id="org.eclipse.zest.layouts"/>
<plugin id="org.eclipse.core.expressions"/>
<plugin id="org.eclipse.ui.views.properties.tabbed"/>
<plugin id="org.eclipse.ui.externaltools.source"/>
<plugin id="org.eclipse.ui.workbench.compatibility"/>
<plugin id="org.apache.commons.codec"/>
<plugin id="org.eclipse.equinox.p2.jarprocessor.source"/>
<plugin id="org.eclipse.jsch.core"/>
<plugin id="org.eclipse.ui.workbench.texteditor"/>
<plugin id="org.eclipse.ui.workbench.source"/>
<plugin id="org.eclipse.text.source"/>
<plugin id="org.eclipse.equinox.p2.metadata.generator.source"/>
<plugin id="org.eclipse.ecf"/>
<plugin id="org.eclipse.core.commands"/>
<plugin id="org.eclipse.ui.views.source"/>
<plugin id="org.eclipse.compare.core.source"/>
<plugin id="org.apache.jasper"/>
<plugin id="org.apache.commons.el"/>
<plugin id="org.eclipse.ecf.filetransfer.source"/>
<plugin id="org.eclipse.equinox.p2.console"/>
<plugin id="org.eclipse.equinox.security.ui.source"/>
<plugin id="org.eclipse.osgi" version="3.4.2.R34x_v20080826-1230"/>
<plugin id="org.eclipse.equinox.p2.artifact.repository"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk"/>
<plugin id="org.eclipse.debug.ui"/>
<plugin id="org.eclipse.equinox.launcher.source"/>
<plugin id="org.eclipse.ui.navigator.resources.source"/>
<plugin id="org.eclipse.osgi.services.source"/>
<plugin id="org.eclipse.swt"/>
<plugin id="org.eclipse.jface.source"/>
<plugin id="org.eclipse.core.runtime.compatibility.source"/>
<plugin id="org.eclipse.equinox.p2.ui"/>
<plugin id="org.eclipse.equinox.frameworkadmin"/>
<plugin id="org.eclipse.platform.source"/>
<plugin id="org.eclipse.equinox.p2.engine"/>
<plugin id="org.eclipse.ltk.core.refactoring"/>
<plugin id="com.springsource.org.jdom"/>
<plugin id="org.apache.servicemix.bundles.wsdl4j"/>
<plugin id="org.eclipse.platform.doc.isv"/>
<plugin id="org.eclipse.core.runtime.source"/>
<plugin id="org.eclipse.core.databinding.source"/>
<plugin id="org.eclipse.ui.navigator.source"/>
<plugin id="org.eclipse.equinox.http.jetty"/>
<plugin id="org.apache.servicemix.bundles.xmlschema"/>
<plugin id="org.eclipse.jsch.ui"/>
<plugin id="org.apache.servicemix.bundles.woodstox"/>
<plugin id="org.eclipse.equinox.jsp.jasper.registry"/>
<plugin id="org.eclipse.ui.presentations.r21"/>
<plugin id="org.eclipse.equinox.p2.updatesite.source"/>
<plugin id="org.eclipse.ecf.identity.source"/>
<plugin id="com.jcraft.jsch.source"/>
<plugin id="org.eclipse.equinox.p2.exemplarysetup"/>
<plugin id="org.eclipse.equinox.launcher.gtk.linux.x86_64"/>
<plugin id="org.springframework.aop"/>
<plugin id="org.eclipse.ecf.provider.filetransfer"/>
<plugin id="org.apache.servicemix.specs.saaj-api-1.3"/>
<plugin id="org.springframework.osgi.io"/>
<plugin id="org.eclipse.help.appserver"/>
<plugin id="org.eclipse.equinox.p2.console.source"/>
<plugin id="org.eclipse.core.boot"/>
<plugin id="org.eclipse.zest.core.source"/>
<plugin id="org.eclipse.core.jobs.source"/>
<plugin id="org.eclipse.ui.workbench.texteditor.source"/>
<plugin id="org.springframework.jdbc"/>
<plugin id="org.springframework.transaction"/>
<plugin id="org.eclipse.update.scheduler.source"/>
<plugin id="org.eclipse.equinox.http.registry"/>
<plugin id="org.eclipse.core.databinding.beans.source"/>
<plugin id="org.eclipse.equinox.p2.artifact.repository.source"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk.scheduler"/>
<plugin id="org.eclipse.equinox.p2.garbagecollector"/>
<plugin id="jfreechart"/>
<plugin id="org.eclipse.core.resources.compatibility.source"/>
<plugin id="org.eclipse.jface.databinding"/>
<plugin id="com.jcraft.jsch"/>
<plugin id="org.eclipse.ui.views.properties.tabbed.source"/>
<plugin id="org.eclipse.core.databinding.property.source"/>
<plugin id="org.eclipse.equinox.p2.extensionlocation.source"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.manipulator.source"/>
<plugin id="org.apache.geronimo.specs.geronimo-ws-metadata_2.0_spec"/>
<plugin id="org.eclipse.core.filesystem.source"/>
<plugin id="org.eclipse.equinox.app"/>
<plugin id="org.eclipse.zest.core"/>
<plugin id="org.eclipse.core.filesystem"/>
<plugin id="org.eclipse.equinox.common"/>
<plugin id="org.eclipse.compare.win32.source"/>
<plugin id="org.eclipse.equinox.p2.engine.source"/>
<plugin id="org.apache.commons.math"/>
<plugin id="org.eclipse.equinox.util.source"/>
<plugin id="org.apache.servicemix.bundles.neethi"/>
<plugin id="org.eclipse.equinox.p2.garbagecollector.source"/>
<plugin id="org.springframework.beans"/>
<plugin id="org.apache.servicemix.specs.jaxws-api-2.1"/>
<plugin id="org.eclipse.equinox.security.ui"/>
<plugin id="org.eclipse.compare.source"/>
<plugin id="org.apache.servicemix.bundles.jaxb-impl"/>
<plugin id="org.eclipse.ltk.ui.refactoring"/>
<plugin id="org.eclipse.equinox.jsp.jasper"/>
<plugin id="org.eclipse.ecf.ssl"/>
<plugin id="org.eclipse.update.configurator"/>
<plugin id="org.eclipse.update.ui.source"/>
<plugin id="org.eclipse.swt.gtk.linux.x86_64.source"/>
<plugin id="org.eclipse.ui.presentations.r21.source"/>
<plugin id="org.eclipse.ui.console"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth"/>
<plugin id="org.eclipse.equinox.simpleconfigurator"/>
<plugin id="com.springsource.org.apache.commons.logging"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk.scheduler.source"/>
<plugin id="org.eclipse.core.filesystem.linux.x86_64"/>
<plugin id="org.eclipse.swt.win32.win32.x86_64"/>
<plugin id="org.eclipse.equinox.frameworkadmin.source"/>
<plugin id="org.eclipse.help"/>
<plugin id="org.apache.lucene.analysis"/>
<plugin id="org.eclipse.core.net"/>
<plugin id="com.springsource.org.hsqldb"/>
<plugin id="org.apache.commons.httpclient"/>
<plugin id="org.eclipse.equinox.common.source"/>
<plugin id="org.eclipse.debug.core"/>
<plugin id="org.eclipse.search"/>
<plugin id="org.eclipse.update.ui"/>
<plugin id="org.eclipse.ui.ide.application"/>
<plugin id="com.springsource.slf4j.log4j"/>
<plugin id="org.springframework.context"/>
<plugin id="org.eclipse.core.resources"/>
<plugin id="org.eclipse.ui.intro.universal"/>
<plugin id="org.eclipse.equinox.concurrent"/>
<plugin id="org.mortbay.jetty.util"/>
<plugin id="org.eclipse.text"/>
<plugin id="javax.servlet.jsp"/>
<plugin id="org.eclipse.ui.externaltools"/>
<plugin id="pellet"/>
<plugin id="org.eclipse.ui"/>
<plugin id="org.eclipse.ui.cheatsheets"/>
<plugin id="org.eclipse.jface"/>
<plugin id="org.eclipse.search.source"/>
<plugin id="org.eclipse.ui.intro.source"/>
<plugin id="org.apache.commons.httpclient.source"/>
<plugin id="org.eclipse.team.ui.source"/>
<plugin id="org.eclipse.equinox.p2.publisher"/>
<plugin id="org.eclipse.core.databinding.property"/>
<plugin id="org.eclipse.equinox.launcher.gtk.linux.x86_64"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository"/>
<plugin id="org.eclipse.swt.gtk.linux.x86_64.source"/>
<plugin id="org.eclipse.equinox.p2.reconciler.dropins.source"/>
<plugin id="org.eclipse.compare.core"/>
<plugin id="org.eclipse.ui.navigator"/>
<plugin id="org.eclipse.equinox.p2.ui.source"/>
<plugin id="org.eclipse.equinox.security.source"/>
<plugin id="org.eclipse.ui.views"/>
<plugin id="org.eclipse.equinox.p2.directorywatcher.source"/>
<plugin id="org.eclipse.osgi.util.source"/>
<plugin id="org.eclipse.equinox.preferences"/>
<plugin id="org.eclipse.help.base"/>
<plugin id="org.eclipse.core.contenttype"/>
<plugin id="org.eclipse.equinox.p2.director.app"/>
<plugin id="org.eclipse.equinox.p2.exemplarysetup.source"/>
<plugin id="org.eclipse.update.core"/>
<plugin id="org.eclipse.ui.editors.source"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.natives.source"/>
<plugin id="org.eclipse.rcp.source"/>
<plugin id="org.eclipse.platform"/>
<plugin id="org.eclipse.equinox.p2.publisher.source"/>
<plugin id="org.eclipse.ui.intro.universal.source"/>
<plugin id="org.eclipse.equinox.http.servlet"/>
<plugin id="org.eclipse.core.variables.source"/>
<plugin id="org.eclipse.ui.browser.source"/>
<plugin id="org.eclipse.core.databinding.beans"/>
<plugin id="org.eclipse.equinox.p2.metadata"/>
<plugin id="org.eclipse.ltk.ui.refactoring.source"/>
<plugin id="org.apache.geronimo.specs.geronimo-javamail_1.4_spec"/>
<plugin id="org.eclipse.core.commands.source"/>
<plugin id="org.eclipse.ui.ide"/>
<plugin id="org.eclipse.ui.source"/>
<plugin id="org.eclipse.equinox.security"/>
<plugin id="com.springsource.slf4j.jcl"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository.source"/>
<plugin id="org.eclipse.osgi.source"/>
<plugin id="org.eclipse.ecf.ssl.source"/>
<plugin id="org.eclipse.core.filesystem.win32.x86_64"/>
<plugin id="org.eclipse.update.configurator.source"/>
<plugin id="org.eclipse.ant.core.source"/>
<plugin id="org.eclipse.ant.core"/>
<plugin id="org.mortbay.jetty.server"/>
<plugin id="org.eclipse.core.variables"/>
<plugin id="org.eclipse.team.ui"/>
<plugin id="org.eclipse.osgi.util"/>
<plugin id="org.eclipse.equinox.p2.reconciler.dropins"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.ssl"/>
<plugin id="org.apache.commons.logging"/>
<plugin id="org.eclipse.core.filebuffers"/>
<plugin id="org.eclipse.equinox.p2.repository"/>
<plugin id="org.eclipse.equinox.p2.updatechecker.source"/>
<plugin id="org.apache.servicemix.bundles.asm"/>
<plugin id="com.springsource.slf4j.api"/>
<plugin id="org.eclipse.equinox.p2.repository.tools"/>
<plugin id="org.eclipse.ui.forms.source"/>
<plugin id="org.eclipse.osgi" version="3.5.1.R35x_v20090827"/>
<plugin id="org.eclipse.update.core.win32"/>
<plugin id="org.eclipse.core.runtime.compatibility"/>
<plugin id="org.eclipse.swt.gtk.linux.x86_64"/>
<plugin id="org.eclipse.ui.ide.source"/>
<plugin id="org.eclipse.jsch.ui.source"/>
<plugin id="org.eclipse.equinox.p2.updatesite"/>
<plugin id="org.eclipse.equinox.launcher"/>
<plugin id="weka"/>
<plugin id="org.eclipse.ui.net"/>
<plugin id="org.eclipse.debug.ui.source"/>
<plugin id="org.eclipse.draw2d.doc.isv"/>
<plugin id="org.eclipse.update.core.source"/>
<plugin id="org.eclipse.equinox.p2.director"/>
<plugin id="org.eclipse.jface.text.source"/>
<plugin id="org.springframework.core"/>
<plugin id="org.eclipse.team.core.source"/>
<plugin id="org.eclipse.ui.workbench"/>
<plugin id="org.eclipse.ui.intro"/>
<plugin id="org.apache.cxf.bundle"/>
<plugin id="org.eclipse.equinox.frameworkadmin.equinox.source"/>
<plugin id="org.eclipse.rcp"/>
<plugin id="org.eclipse.equinox.preferences.source"/>
<plugin id="org.apache.ant"/>
<plugin id="org.eclipse.jsch.core.source"/>
<plugin id="org.eclipse.help.appserver.source"/>
<plugin id="org.eclipse.ui.navigator.resources"/>
<plugin id="org.eclipse.ecf.source"/>
<plugin id="org.eclipse.core.net.win32.x86_64"/>
<plugin id="org.eclipse.core.runtime.compatibility.registry.source"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.ssl.source"/>
<plugin id="org.apache.servicemix.bundles.xmlresolver"/>
<plugin id="org.eclipse.ecf.identity"/>
<plugin id="org.eclipse.core.contenttype.source"/>
<plugin id="org.eclipse.compare"/>
<plugin id="org.eclipse.team.core"/>
<plugin id="org.eclipse.swt.gtk.linux.x86_64"/>
<plugin id="org.eclipse.core.resources.compatibility"/>
<plugin id="org.eclipse.ui.browser"/>
<plugin id="org.eclipse.equinox.p2.core"/>
<plugin id="org.apache.geronimo.specs.geronimo-activation_1.1_spec"/>
<plugin id="org.apache.servicemix.specs.stax-api-1.0"/>
<plugin id="org.eclipse.ui.win32.source"/>
<plugin id="org.eclipse.debug.core.source"/>
<plugin id="awssdk"/>
<plugin id="org.eclipse.equinox.launcher.win32.win32.x86_64"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.natives"/>
<plugin id="org.eclipse.equinox.p2.jarprocessor"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.manipulator"/>
<plugin id="jena"/>
<plugin id="org.eclipse.core.databinding"/>
<plugin id="org.eclipse.equinox.p2.core.source"/>
<plugin id="org.eclipse.equinox.registry.source"/>
<plugin id="org.eclipse.help.webapp"/>
<plugin id="org.eclipse.core.jobs"/>
<plugin id="org.eclipse.ui.forms"/>
<plugin id="org.eclipse.core.resources.source"/>
<plugin id="org.eclipse.compare.win32"/>
<plugin id="org.eclipse.equinox.p2.director.source"/>
<plugin id="org.apache.servicemix.specs.jaxb-api-2.1"/>
<plugin id="org.eclipse.equinox.util"/>
<plugin id="org.eclipse.equinox.p2.repository.tools.source"/>
<plugin id="org.eclipse.draw2d"/>
<plugin id="org.eclipse.ecf.filetransfer"/>
<plugin id="org.eclipse.core.runtime.compatibility.registry"/>
<plugin id="org.eclipse.swt.win32.win32.x86_64.source"/>
<plugin id="org.apache.servicemix.bundles.xmlsec"/>
<plugin id="org.eclipse.platform.doc.user"/>
<plugin id="org.eclipse.equinox.p2.metadata.source"/>
<plugin id="com.ibm.icu"/>
<plugin id="org.eclipse.equinox.app.source"/>
<plugin id="org.eclipse.ui.cheatsheets.source"/>
<plugin id="org.apache.ant.source"/>
<plugin id="org.eclipse.update.scheduler"/>
<plugin id="com.springsource.org.apache.log4j"/>
<plugin id="org.eclipse.core.expressions.source"/>
<plugin id="org.eclipse.equinox.p2.metadata.generator"/>
<plugin id="org.eclipse.ui.workbench.compatibility.source"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient.ssl"/>
<plugin id="org.eclipse.help.source"/>
<plugin id="org.eclipse.help.ui"/>
<plugin id="org.eclipse.core.net.source"/>
<plugin id="org.eclipse.core.databinding.observable.source"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth.source"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.eclipse.source"/>
<plugin id="org.eclipse.osgi.services" version="3.2.0.v20090520-1800"/>
<plugin id="org.eclipse.jface.text"/>
<plugin id="org.eclipse.jface.databinding.source"/>
<plugin id="org.eclipse.ui.win32"/>
<plugin id="org.apache.commons.codec.source"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient"/>
<plugin id="org.eclipse.draw2d.source"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient.ssl.source"/>
<plugin id="org.eclipse.core.filebuffers.source"/>
<plugin id="org.eclipse.ui.console.source"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.source"/>
<plugin id="com.springsource.org.aopalliance"/>
<plugin id="org.eclipse.update.core.win32.source"/>
<plugin id="org.ops4j.pax.web.pax-web-jetty-bundle"/>
<plugin id="org.eclipse.core.filesystem.linux.x86_64"/>
<plugin id="org.eclipse.ltk.core.refactoring.source"/>
<plugin id="org.eclipse.equinox.ds.source"/>
<plugin id="org.eclipse.equinox.p2.repository.source"/>
<plugin id="org.eclipse.osgi.services" version="3.1.200.v20070605"/>
<plugin id="org.eclipse.equinox.p2.director.app.source"/>
<plugin id="org.eclipse.core.databinding.observable"/>
<plugin id="org.eclipse.ui.ide.application.source"/>
<plugin id="org.eclipse.equinox.ds"/>
<plugin id="org.eclipse.ui.net.source"/>
<plugin id="org.springframework.osgi.core"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk.source"/>
<plugin id="org.sat4j.pb"/>
<plugin id="org.eclipse.core.runtime"/>
<plugin id="org.eclipse.equinox.p2.directorywatcher"/>
<plugin id="org.springframework.osgi.extender"/>
<plugin id="com.springsource.org.apache.commons.dbcp"/>
<plugin id="org.eclipse.equinox.frameworkadmin.equinox"/>
<plugin id="com.springsource.org.apache.commons.pool"/>
<plugin id="org.apache.lucene"/>
<plugin id="org.eclipse.equinox.p2.updatechecker"/>
<plugin id="org.eclipse.equinox.registry"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.eclipse"/>
<plugin id="org.apache.geronimo.specs.geronimo-annotation_1.0_spec"/>
<plugin id="org.sat4j.core"/>
<plugin id="org.eclipse.zest.layouts.source"/>
<plugin id="com.springsource.javax.servlet"/>
<plugin id="org.eclipse.equinox.p2.extensionlocation"/>
<plugin id="org.eclipse.ui.editors"/>
</includeBundles>
</target>
